<body>
  <center data-link-color="#1188E6" data-body-style="font-size: 14px; font-family: arial; color: #000000; background-color: #ffffff;">
    <table
      class="module"
      role="module"
      data-type="text"
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="100%"
      style="
        table-layout: fixed;
        width: 450px;
        background-color: #ffffff;
        opacity: 0.9;
        border-radius: 5px;
        padding: 20px 25px;
        margin-bottom: 32px;
      "
      data-muid="9956c2a3-9331-4062-915f-45fee49373bc"
      data-mc-module-version="2019-10-22"
    >
      <tbody>
        <tr>
          <td height="100%" valign="top" role="module-content">
            <div style="text-align: inherit; color: #2a27a5; font-weight: bold; font-size: 24px; margin-bottom: 50px">Active account</div>
            <div>
              <p style="font-size: 16px">
                There is just one more step before you can start account. Kindly verify your account by clicking on the button below.
              </p>
              <button
                style="
                  margin: 50px auto;
                  display: block;
                  background-position: center;
                  padding: 10px;
                  font-weight: bold;
                  font-size: 18px;
                  border-radius: 10px;
                  text-decoration: none;
                "
              >
                <a type="button" href="<%= activeLink %>" target="_blank">Verify account</a>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </center>
</body>
