<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../component/loader'); -%>
    <title>Dashboard</title>
  </head>
  <body>
    <div class="d-flex" id="wrapper">
      <%- include('../../component/tabbar'); -%>
      <div id="page-content-wrapper">
        <%- include('../../component/navbar'); -%>
        <div></div>
      </div>
    </div>
  </body>
</html>
